/**
 * Pfandautomat.com
 * 
 * https://pfandautomat.com/
 * https://github.com/RundesBalli/Pfandautomat.com
 */
:root {
  --bgImgDark: url(/assets/images/dark-bg.png);
  --fallbackBg: #3f6ef8;
  --darkBgFontColor: #fdfdfd;
  --bgImgLight: url(/assets/images/light-bg.png);
  --lightBgFontColor: #3f6ef8;
  --bgAnimationTime: 1.5s;
  --reloadFontColor: rgba(0,0,0, 0.2);
  --footerLinkFontColor: rgba(0,0,0, 0.8);
}

* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

@font-face {
  /* https://www.dafont.com/de/vcr-osd-mono.font */
  font-family: 'VCROSD';
  src: url("/assets/fonts/VCR_OSD_MONO_1.001.ttf");
}

body {
  font-family: 'VCROSD', monospace;
  color: var(--darkBgFontColor);
  background: var(--bgImgDark) var(--fallbackBg);
  animation: bg-ani var(--bgAnimationTime) infinite;
  user-select: none;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

#wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#phrase {
  font-size: 8vw;
  text-align: center;
  padding: 0 10vw;
}

#reload {
  font-size: 3vw;
  text-align: center;
  position: absolute;
  bottom: 15vh;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
  #phrase {
    font-size: 10vw;
    word-wrap: break-word;
    padding: 0 4vw;
  }

  #reload {
    font-size: 8vw;
  }
}

#reload > a {
  color: var(--reloadFontColor);
}

#footer {
  position: absolute;
  font-family: monospace;
  bottom: 5px;
  font-size: 10px;
  width: 100%;
  text-align: center;
}

#footer > a {
  color: var(--footerLinkFontColor);
  margin: 0 6px;
  transition: color 0.4s;
}

#footer > a:hover {
  color: var(--darkBgFontColor);
}

/* Animation */
@keyframes bg-ani {
  0%   { background: var(--bgImgDark); color: var(--darkBgFontColor); }
  35%  { background: var(--bgImgDark); color: var(--darkBgFontColor); }
  50%  { background: var(--bgImgLight); color: var(--lightBgFontColor); }
  85%  { background: var(--bgImgLight); color: var(--lightBgFontColor); }
  100% { background: var(--bgImgDark); color: var(--darkBgFontColor); }
}
