* {
  box-sizing: border-box;
}

html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

@font-face {
  /* https://www.dafont.com/de/vcr-osd-mono.font */
  font-family: 'VCROSD';
  src: url("/src/VCR_OSD_MONO_1.001.ttf");
}

body {
  font-family: 'VCROSD', monospace;
  color: #fdfdfd;
  background: url(/src/dark-bg.png); /* #3f6ef8 */
  animation: bg-ani 1.5s infinite;
  user-select: none;
}

a {
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

#wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#phrase {
  font-size: 8vw;
  text-align: center;
  padding: 0 10vw;
}

#reload {
  font-size: 5vw;
  text-align: center;
  margin-top: 3vh;
}

@media only screen and (min-width: 800px) {
  #reload {
    font-size: 3vw;
  }
}

#reload > a {
  color:rgba(0,0,0, 0.2);
}

#footer {
  position: absolute;
  font-family: monospace;
  bottom: 5px;
  font-size: 10px;
  width: 100%;
  text-align: center;
}

#footer > a {
  color: rgba(0,0,0, 0.8);
  margin: 0 3px;
  transition: color 0.4s;
}

#footer > a:hover {
  color: #fdfdfd;
}

/* Animation */
@keyframes bg-ani {
  0%   { background: url(/src/dark-bg.png); color: #fdfdfd; }
  35%  { background: url(/src/dark-bg.png); color: #fdfdfd; }
  50%  { background: url(/src/light-bg.png); color: #3f6ef8; }
  85%  { background: url(/src/light-bg.png); color: #3f6ef8; }
  100% { background: url(/src/dark-bg.png); color: #fdfdfd; }
}
